.controls {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
}

body, html {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  background-color: black;
}

*:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

button:active {
  transform: scale(1.2);
  opacity: 0.6;
}

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

input[type='text'], input[type='email'], input[type='search'],
input[type='password'], textarea{
  -webkit-user-select: text;
}
